li {
    font-weight: bolder;
    font-size: 30px;
    display: inline;
    border-bottom: 5px solid grey ;
    background-color: lightgrey;
    border-top-left-radius: 10px    ;
    border-top-right-radius: 10px;
    padding: 10px;
}
li:hover {
    background-color: lightblue;
    border-bottom-color: blue;
}