.first-para {
    font-size: 1.3em;
    color: darkblue;
    font-weight:bold;
    font-family: monospace;
}

h1 {
    text-decoration: underline;
    text-decoration: double;
    text-decoration-color: red;
    text-decoration: dotted;
}


button {
    -webkit-background-size:;
    background-color: lightblue;
    -webkit-border-radius:;
    -moz-border-radius:;
    border-radius:15%;
}

input {
    border:none;
    border-bottom:black 1px dotted;
}

label {
    font-weight: bolder;
    color: darkblue;
    font-family: "Arial Black";
}