.box-dim {
    width: 200px;
    height: 200px;

}
#box0 {

    border: 5px solid red;
    background-color: pink;
}
#box1 {
    border: 5px solid blue;
    background-color: lightblue;
}
#box0:hover, #box1:hover {
    border-radius: 100px;
}

span {
    font-size:14px;
}